.login-form {
  margin: 20px;
  padding: 20px;
  // border-radius: 3px;
  // box-shadow: 5px 5px 50px white;
}

.login-form .btn {
  color: black;
}

.login-form .a {
  text-decoration: none;
  color: #b3b3b3;
}

.sign-in-links {
  margin: 10px;
}
