.main-container {
  display: flex;
}
.container-search {
  flex: 1;
}
.container-search-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.container-story {
  flex: 0 0 20%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  display:flex;
  flex-direction: column;
  overflow: scroll;
}

.container-results {
  flex: 0 0 200px;
  // height: 350px;
  margin: 20px;
  padding: 20px 0;
}

@media (min-width: $screen-xs){
  .container-results {
    flex: 0 0 400px;
    // height: 350px;
    margin: 20px;
  }
}

.story-box{
  flex: 0 0 100px;
  margin: 10px;
}

.container-results-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  flex: 0 0 150px;
  height: 150px;
  margin: 10px;
}

@media (min-width: $screen-xs){
.result {
  flex: 0 0 150px;
  height: 150px;
  margin: 10px;
}
}

.main-container, .container-search, .container-story, .container-results, .story-box, .result {
  border: 1px solid green;
}
