.title-header-item h1 {
  margin-bottom: 0px;
}

.release-date {
  margin-top: 0px;
}

.poster {
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

.buy-space {
  position: relative;
  align-items: center;
  padding: 50px;
}

.buy-space .btn {
  position: absolute;
  top: 10px;
  left: 64px;
  width: 300px;
}

#show-movie-image {
  width: 350px;
  height: 467px;
}


.same-line {
  display: flex;
  justify-content: flex-start;
}

.rating-items {
  margin-right: 10px;
}

.column-direction {
  flex-direction: column;
}

.user-comment {
  margin-bottom: 0px;
}

#show-movie-image {
  position: relative;
}

.btn-outline {
  background-color: white;
  color: #EE5F5C;
}

.movie-details {
  p {
    margin-top: 0px;
    font-size: 16px;
  }
}

.add-to-list-button {
  margin-left: 1px;
}

.title-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // margin-top: 20px;
}

.title-header-item {
  margin-right: 10px;
  border-radius: 50px;
}

.add-to-watchlist-button {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background: #FFFFFF;
  color: #1E3888;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #1E3888;
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-plus {
position: absolute;
}

.main-cta {
  cursor: pointer;
  background: #1E3888;
  color: #F7FFF7;
  border-radius: 50px;
  text-decoration: none;
  width: 170px;
  height: 45px;
  border: none;
  font-family: "Raleway";
}

.show-cta {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: 10px;
}
.secondary-cta {
  cursor: pointer;
  background: #FFFFFF;
  color: #1E3888;
  border-radius: 50px;
  text-decoration: none;
  width: 170px;
  height: 45px;
  border: 1px solid #1E3888;
  font-family: "Raleway";
}

.btn-round {
  border-radius: 50px;
  background-color: #1E3888;
  color: #F7FFF7;
}



#dropdown_cta {
  cursor: pointer;

  color: #1E3888;
  border-radius: 50px;
  text-decoration: none;
  width: 170px;
  height: 45px;
  border: 1px solid #1E3888;
  font-family: "Raleway";
}

#add-buttons {
  display: flex;
  justify-content: flex-end;
}

#watch-btn {
  display: flex;
  justify-content: flex-start;
}

.movie-title-director-home p {
  height: 30%;
}
