.poster {
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

.buy-space {
  position: relative;
  align-items: center;
  padding: 50px;
}

.buy-space .btn {
  position: absolute;
  top: 10px;
  left: 64px;
  width: 300px;
}

#show-movie-image {
  width: 350;
  height: 700;
}

.show-cta {
  margin-top: 20px;
}

.together {
  display: space-around;
}

#show-movie-image {
  position: relative;
}

#add-to-watchlist-button {
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 1
}

.btn-outline {
  background-color: white;
  color: #EE5F5C;
}

.movie-details {
  h3 {
    margin-top: 10px;
  }
}

