.container-description {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  border-bottom: 1px solid lightgrey;
}

.img-playlist-des {
  flex: 0 0 30%;
  margin: 20px;
}

.playlist-des {
  flex: 0 0 70%;
}

.playlist-des p {
  flex: 0 0 70%;
  color: black;
}
.container-playlist-show {
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-movie-playlist {
  flex: 0 0 20%;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.movie-title-director-playlist p {
  color: black;
  margin-bottom: 5px;
}

.link-delete-movie-playlist {
  right: 5px;
}
.link-rating-movie-playlist{
  left: 5px;
}

.rating-trash{
  display: flex;
  justify-content: space-between;
}

.movie-title-director-playlist {
  margin-left: 5px;
  margin-right:5px;
}
