
.container-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.container-movie {
  flex: 1 0 300px;
  margin: 10px;
}
.container-user {
  flex: 0 0 300px;
  margin: 10px;
}
.container-playlist {
  flex: 0 0 300px;
  margin: 10px;
}

.container-movie, .container-user, .container-playlist {
  border: 1px solid green;
}

.ais-hits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
}

.ais-hits--item {
  flex: 0 0 18px;
  border: 1px solid;
  // min-height: 250px;
  height:90%;
}

.card-movie{
  display: flex;
  flex-direction: column;
}

.poster-movie {
  flex: 1;
}

#img-movie{
  width: 200px;
  height: 250px;
  background-size: cover;
}
#img-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  // background-size: cover;
}


.title-movie {
  flex: 0 0 80px;
  text-align: center;
}

.title-movie p {
  margin: 5px;
  color: black;
}

#resultsalgolia {
  opacity: 0.8;
}
#resultsalgolia:hover {
  opacity: 1;
  text-decoration: none;
}

