.container-search-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.container-results {
  flex: 0 0 200px;
  // height: 350px;
  margin: 20px;
  padding: 20px 0;
  border-radius: 5px;
}

@media (min-width: $screen-xs){
  .container-results {
    flex: 0 0 400px;
    // height: 350px;
    margin: 20px;
  }
}

.container-results-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  flex: 0 0 150px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
}

@media (min-width: $screen-xs){
.result {
  flex: 0 0 150px;
  height: 150px;
  margin: 10px;
}
}

.container-search, .container-results, .result {
  border: 1px solid green;
}

// .container-search {
//   flex:1;
// }

.container-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.container-movie {
  flex: 1 0 300px;
  margin: 10px;
}
.container-user {
  flex: 0 0 300px;
  margin: 10px;
}
.container-playlist {
  flex: 0 0 300px;
  margin: 10px;
}

.container-movie, .container-user, .container-playlist {
  border: 1px solid green;
}

.resultMovie {
  border: 1px solid red;
}

.resultUser {
  border: 1px solid red;
}
