<div id="results"></div>
<div id="pagination"></div>
<div id="resultsUser"></div>
<div id="resultsPlaylist"></div>
<div class="container-search">
  <div class="container-search-wrapper">
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
    <div class="container-results">
      <div class="container-results-wrapper">
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
      </div>
    </div>
  </div>
</div>
