<!-- <div class="container-search">
  <div class="container-movie">
      <div id="resultsMovie" class="row text-center"></div>
  </div>
  <div class="container-playlist">
    <div id="resultsUser"></div>
  </div>
  <div class="container-user">
    <div id="resultsPlaylist"></div>
  </div>
</div> -->

<div class="container-search">
  <div id="resultsMovie" class="container-movie"></div>
  <div id="resultsUser" class="container-playlist"></div>
  <div id="resultsPlaylist" class="container-user"></div>
</div>
