<div class="container container-search">
  <div class="results-category">
    <h2 class="results-title">Movies</h2>
  <div id="resultsMovie" class="container-movie"></div>
  </div>
  <hr>
  <div class="results-category">
    <h2 class="results-title">Users</h2>
    <div id="resultsUser" class="container-user"></div>
  </div>
  <div class="results-category">
    <h2 class="results-title">Playlists</h2>
    <div id="resultsPlaylist" class="container-playlist"></div>
  </div>
</div>
