<div class="container-search">
  <div class="container-movie">
      <div id="resultsMovie"></div>
  </div>
  <div class="container-playlist">
    <div id="resultsUser"></div>
  </div>
  <div class="container-user">
    <div id="resultsPlaylist"></div>
  </div>
</div>

