<div class="container-movie-watch">
  <div class="js-video [vimeo, widescreen] flex justify-content-center">
    <iframe class="movie-watch" src="https://www.youtube.com/embed/9Y7X6le5qmE?showinfo=0" frameborder="0" allowfullscreen></iframe>
<!--     <iframe class="movie-watch" src="<%= @movie.trailer_url  %>" frameborder="0" allowfullscreen></iframe> -->
  </div>
  <div class="link-back-watch">
    <%= link_to "Back", movie_path(@movie) %>
  </div>
</div>
