.main-container {
  display: flex;
  position: relative;
}

.container-generic {
  width: 80%;
}

.container-story {
  display:flex;
  background-color: white;
  width: 20%;
  flex: 0 0 20%;
  height: calc(100vh - 70px);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 70px !important;
  flex-direction: column;
  overflow: scroll;
}

.story-box {
  background-color: purple;
  flex: 0 0 100px;
  margin: 10px;
  width: 100%;
  height: 60px;
}
