<div data-user=<%= @user.id %>>
  <% if current_user.is_following?(@user.id) %>
    <%= button_to "Unfollow", unfollow_user_path(@user.id), class:"main-cta", method: :post, remote: true %>
  <% else %>
     <%= button_to "Follow", follow_user_path(@user.id), class:"main-cta", method: :post, remote: true %>
  <% end %>
</div>



