<div class="main-container">
  <div class="container-story">
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
  </div>
</div>
