<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
<div class="story-box"></div>
