<%= cl_image_tag("diehard_cover.jpg",
      width: 400, height: 300, crop: :fill) %>

<div class="main-container">
  <div class="container-search">
    <div class="container-search-wrapper">
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
      <div class="container-results">
        <div class="container-results-wrapper">
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
          <div class="result"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-story">
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>
    <div class="story-box"></div>

  </div>
</div>

