.slick-custom-next {
  position: absolute;
  right: -16px;
  top: 45%;
  color: #1E3888;
}

.slick-custom-previous  {
  position: absolute;
  left: -16px;
  top: 45%;
  color: #1E3888;
}

.slick-slide {
  width: 211px !important;
}

