/* Main navbar */
$navbar-height: 70px;

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: $navbar-height;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-attila-item {
  cursor: pointer;
  min-width: 125px;
}

.navbar-attila-avatar {
  cursor: pointer;
}

.watchlist {
  display: flex;
}

/* Navbar link */
.navbar-attila-link {
  color: #1E3888 !important;
  font-size: 18px !important;
  justify-content: start !important;
}
.navbar-attila-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.navbar-link {
  color: #1E3888;
  font-size: 18px;
  padding-right: 10px;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;

  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;

}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#search {
  width: 100%;
  text-align: right;
  .navbar-search {
    // background-color: #FFFFFF;
    // width: 100%;
    // color: #1E3888 !important;
    border-radius: 50px !important;
    // text-decoration: none;
    // border: 1px solid #1E3888;
    // border-radius: 0.25rem;
    // display: block;
    // font-family: "Raleway";
    // height: calc(2.25rem + 2px);
    // padding: 0.375rem 0.75rem;
    // font-size: 1rem;
    // line-height: 1.5;
  }
}
